#boxbody{
    margin-top: 50px;
    padding-bottom: 30px;
}

@media screen and (min-width:350px){
    .heading{
        font-size: 25px;
    }
    .content{
        font-size: 15px;
    }
}
@media screen and (min-width:750px){
    .heading{
        font-size: 28px;
    }
    .content{
        font-size: 18px;
    }
}
.out::before{
    content: "\1F846"; 

    color:#ff9419;
}
.in::before{
    content: "\1F846"; 
    content: "\1F89A"; 

    color:#f407cc;
}
.heading{
    color:#BF009E;
    font-family: 'Play', sans-serif;
}

.content{
    color:aliceblue; 
    font-family: 'Quantico', sans-serif;
}

.points{height:30px;width: 30px;}