{% extends 'layout.html' %}

{% block content %}

    <div class="container" style="margin-top: 80px;">
        <form method="POST" calss="form-register" 
                style="background-color:#0f0f0f;
                        padding:40px; border-radius:30px">
            {{form.hidden_tag()}}
            <h2 calss="h3 mb-3 font-weight-bold"
                style="color:#ed1cc4; font-family: 'Chakra Petch', sans-serif;">
                        <span><b>{{head}}</b></span></h2>
            <br>
            {{ form.numbern.label(class="form-label", style="color:#fb1192;font-family: 'Chakra Petch', sans-serif;")}}
            {{form.numbern(class="form-control", placeholder="Enter the number")}}

            {{ form.numberr.label(class="form-label", style="color:#fb1192;font-family: 'Chakra Petch', sans-serif;")}}
            {{form.numberr(class="form-control", placeholder="Enter the number")}}

            <br>
            {{form.submit(class="btn btn-lg btn-block btn-primary",style="font-family: 'Chakra Petch', sans-serif;")}}
        </form>
        <br>
        <a href="{{url_for('pandc_page')}}" style="text-decoration:none; margin-bottom:-10cm;">
            <button class="btn btn-lg btn-block btn-primary col-6 mx-auto" 
                    style="font-family: 'Chakra Petch', sans-serif; 
                    background-color: #FF8901; border-color: #FF8901;
                    border-radius:10px">
                <i class="bi-arrow-left-short"></i>Back</button></a>
    </div>
    <br>
{% endblock %}