{% extends 'layout.html' %}

{% block content %}

    <div class="container" style="margin-top: 80px;">
        <form method="POST" calss="form-register" 
                style="background-color:#0f0f0f;
                        padding:40px; border-radius:30px">
            {{form.hidden_tag()}}
            <h2 calss="h3 mb-3 font-weight-bold"
                style="color:#ed1cc4; font-family: 'Chakra Petch', sans-serif;">
                        <span><b>{{head}}</b></span></h2>
            <br>
            {{ form.number.label(class="form-label", style="color:#fb1192;font-family: 'Chakra Petch', sans-serif;")}}
            {{form.number(class="form-control", placeholder="Enter the number")}}

            <br>
            {{form.submit(class="btn btn-lg btn-block btn-primary",style="font-family: 'Chakra Petch', sans-serif;")}}
        </form>
    </div>
{% endblock %}