{% extends 'layout.html'%}
{% block content %}
<div class="container" id="boxbody">
    <h1 id="heading">About the calendar</h1>
    <p class="content">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
        Now we are using the calendar called Gregorian calendar, 
        first established in 1582 by <b>Pope Gregory XIII</b>. This calendar 
        was designed to correct the errors introduced by the less 
        accurate Julian calendar. </p>
    <br>
    <h1 id="heading">How to calculate leap year or not?</h1>
    <ul>
        <li style="display: block;" class="content"><svg class="points" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF8901" d="M47.2,-0.4C47.2,27.3,23.6,54.5,2.6,54.5C-18.5,54.5,-36.9,27.3,-36.9,-0.4C-36.9,-28,-18.5,-56,2.6,-56C23.6,-56,47.2,-28,47.2,-0.4Z" transform="translate(100 100)" />
          </svg>
          
           Check the year is divisible by 100.
          </li>
        <li style="display: block;" class="content"><svg class="points" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF8901" d="M47.2,-0.4C47.2,27.3,23.6,54.5,2.6,54.5C-18.5,54.5,-36.9,27.3,-36.9,-0.4C-36.9,-28,-18.5,-56,2.6,-56C23.6,-56,47.2,-28,47.2,-0.4Z" transform="translate(100 100)" />
          </svg>
          
          
        </li>
    </ul>
</div>
{% endblock %}